@tailwind base;
@tailwind components;
@tailwind utilities;

/* 커스텀 스타일 */
.bg-brand-primary-100 {
  background-color: #f0f4f8;
}

.bg-brand-primary-400 {
  background-color: #70c1b3;
}

.min-h-screen {
  min-height: 100vh;
}

button {
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005bb5;
}
